.dashicons-chatgpt-dashicon::before {
    content: url('../img/chatgpt-dashicon.svg');
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
}

.page-header {
    margin-top: 5rem !important;
    margin-bottom: 1rem !important;
}

table.previous-messages tr.odd {
    background: whitesmoke;
}

table.previous-messages .view-response a:focus {
    text-decoration: none;
}

.page-link {
    height: fit-content;
}